:root {
    --color-primary: #5a4bda;
    --light-purple: #c3bfe160;
    --text-color: #8b7df0;
    --text-color-2: rgb(250, 218, 151);
    --text-color-3: rgb(247, 241, 228);
    --active-red: rgba(233, 85, 56, 0.559);
}